*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* +++ COMMONS +++ */
.clearfix::after{
    clear: both;
    display: table;
    content: "";
}

.left{
    float: left;
}

.right{
    float: right;
}
/* /COMMONS */

/* +++ MAIN +++ */
main{
    background-color: black;
    position: relative;
}

.speaker-view{
    position: absolute;
    top: 10px;
    right: 10px;
}

.speaker-view .btn{
    font-size: 15px;
    background: linear-gradient(#3d3d3d, #1f1f1f);
    border-radius: 3px;
    padding: 7px;
    margin-left: 5px;
}

.speaker-view .btn span{
    margin-left: 8px;
}

.speaker-view .btn:nth-of-type(1){
    padding: 7px 12px;
}

.container-big{
    height: calc(100vh - 80px);
    display:flex;
    justify-content: space-around;
    align-items:center;
    position: relative;
}

.container-lato{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-lato i{
    font-size: 50px;
}

.container-lato.sx i{
    transform: rotate(90deg);
}

.container-lato.dx i{
    transform: rotate(-90deg);
}

.container-centro{
    height: 90%;
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.item:nth-of-type(odd){
    background-color: deeppink;
}

.item:nth-of-type(even){
    background-color: deepskyblue;
}

.item{
    width: calc((100% - 20px) / 5);
    height: calc((100% - 20px) / 5);
    position: relative;
}

.item .name{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px 6px;
    font-weight: 500;
    position: absolute;
    left: 0;
    bottom: 0;
}

.item .name i{
    transform: rotateY(180deg);
    font-size: 20px;
}
/* /MAIN */


/* +++ FOOTER +++ */
footer{
    height: 80px;
    background: linear-gradient(#252525, #1f1f1f);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left{
    width: 15%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.action i{
    font-size: 40px;
}

.menu i{
    font-size: 25px;
}

.footer-center{
    width: 60%;
    height: 100%;
}

.footer-right{
    width: 8%;
    height: 100%;
}

/* /FOOTER */




/* ------------------------------------------------ */
/* +++ DEBUG +++ */
.debug .container-lato{
    background-color: lightblue;
}

.debug .container-centro{
    background-color: lightyellow;
}

.debug .footer-left{
    background-color: deeppink;
}

.debug .footer-center{
    background-color: deepskyblue;
}

.debug .footer-right{
    background-color: deeppink;
}


/* /DEBUG */